<!DOCTYPE html>

<html lang="en">
<head>
    <title>Kam2do</title>
    <link rel="stylesheet" href="https://fonts.googleapis.com/icon?family=Material+Icons">
    <link href="https://unpkg.com/material-components-web@latest/dist/material-components-web.min.css" rel="stylesheet">
    <script src="https://unpkg.com/material-components-web@latest/dist/material-components-web.min.js"></script>
    <style>
        * {
            margin: 0;
            --mdc-theme-primary: #3F51B5;
            --mdc-theme-secondary: #F50057;
        }

        .app-fab--absolute {
            position: fixed;
            bottom: 1rem;
            right: 1rem;
        }

        @media (min-width: 1024px) {
            .app-fab--absolute {
                bottom: 1.5rem;
                right: 1.5rem;
            }
        }
    </style>
</head>
<body>
<header class="mdc-top-app-bar">
    <div class="mdc-top-app-bar__row">
        <section class="mdc-top-app-bar__section mdc-top-app-bar__section--align-start">
            <button class="material-icons mdc-top-app-bar__navigation-icon mdc-icon-button">menu</button>
            <span class="mdc-top-app-bar__title">Kam2do</span>
        </section>
    </div>
</header>
<button class="mdc-fab app-fab--absolute" aria-label="Add">
    <span class="mdc-fab__icon material-icons">add</span>
</button>
</body>
</html>