<!DOCTYPE html>

<html>
	<head>
		<title>todo</title>
		<link href= "https://fonts.googleapis.com/css?family=Oswald" rel="stylesheet">
	</head>
	<body>
		<h1>WHAT DO YOU WANT TO DO TODAY?</h1>
		<form>
			<input type = "text" placeholder='Enter todo e.g. DELETE junk files'/>
			<input type = "submit" value= "ADD"><br>
			<input type	 = "submit" value= "DELETE COMPLETED"><br>
			<input type = "submit" value= "DELETE ALL"><br>

		</form>
		<ul>
			<li>Create my new awesome website. </li>
			<li>Attend weekly coding session.</li>
			<li>Visit the gym.
		</ul>

	</body>


</html>